[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "{{ restic.prefix.bin }}/restic-{{ item.key }} init || :"
ExecStart={{ restic.prefix.bin }}/restic-{{ item.key }} backup{% for option, value in (restic_config.backup_opts|default({})).items()|selectattr('1', 'ne', none) %} --{{ option|quote }}={{ value|quote }}{% endfor %}{% for argument in ((restic_config.backup_args|default({})).items()|sort(attribute='0'))|map(attribute='1')|select('ne', none) %} {{ argument|quote }}{% endfor %}
